In [5]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [7]:
datas = pd.date_range('20160301', periods=6)
df = pd.DataFrame(np.random.randn(6, 4), index=datas, columns=list('ABCD'))
df

,A,B,C,D
2016-03-01,-0.864896,-1.668247,1.135726,-1.139497
2016-03-02,1.011190,-0.134420,-1.677632,1.185332
2016-03-03,-1.051040,-0.169761,-2.011760,-1.103457
2016-03-04,-0.851890,-1.174442,-2.796977,1.712541
2016-03-05,0.685162,0.791786,-0.447688,-0.911904
2016-03-06,0.369106,1.140169,-0.170676,1.724625

In [10]:
df1 = df.reindex(index=datas[0: 4], columns=list(df.columns)+ ['E'])
df1

,A,B,C,D,E
2016-03-01,-0.864896,-1.668247,1.135726,-1.139497,NaN
2016-03-02,1.011190,-0.134420,-1.677632,1.185332,NaN
2016-03-03,-1.051040,-0.169761,-2.011760,-1.103457,NaN
2016-03-04,-0.851890,-1.174442,-2.796977,1.712541,NaN

In [12]:
df1.loc[datas[1:3], 'E'] = 3
df1

,A,B,C,D,E
2016-03-01,-0.864896,-1.668247,1.135726,-1.139497,NaN
2016-03-02,1.011190,-0.134420,-1.677632,1.185332,3
2016-03-03,-1.051040,-0.169761,-2.011760,-1.103457,3
2016-03-04,-0.851890,-1.174442,-2.796977,1.712541,NaN

In [14]:
df1.loc[datas[2:4], 'A'] = '1'
df1

,A,B,C,D,E
2016-03-01,-0.864896,-1.668247,1.135726,-1.139497,NaN
2016-03-02,1.01119,-0.134420,-1.677632,1.185332,3
2016-03-03,1,-0.169761,-2.011760,-1.103457,3
2016-03-04,1,-1.174442,-2.796977,1.712541,NaN

In [15]:
df1.dropna()

,A,B,C,D,E
2016-03-02,1.01119,-0.134420,-1.677632,1.185332,3
2016-03-03,1,-0.169761,-2.011760,-1.103457,3

In [17]:
df1.fillna(value=5)

,A,B,C,D,E
2016-03-01,-0.864896,-1.668247,1.135726,-1.139497,5
2016-03-02,1.01119,-0.134420,-1.677632,1.185332,3
2016-03-03,1,-0.169761,-2.011760,-1.103457,3
2016-03-04,1,-1.174442,-2.796977,1.712541,5

In [20]:
pd.isnull(df1).any().any()

True

In [21]:
df1.describe()

,B,C,D,E
count,4.000000,4.000000,4.000000,2
mean,-0.786717,-1.337661,0.163729,3
std,0.760165,1.714374,1.499628,0
min,-1.668247,-2.796977,-1.139497,3
25%,-1.297893,-2.208064,-1.112467,3
50%,-0.672101,-1.844696,0.040937,3
75%,-0.160925,-0.974292,1.317134,3
max,-0.134420,1.135726,1.712541,3

In [23]:
s = pd.Series([1, 3, 5, np.nan, 6, 8 ], index=datas).shift(2)
s

2016-03-01   NaN
2016-03-02   NaN
2016-03-03     1
2016-03-04     3
2016-03-05     5
2016-03-06   NaN
Freq: D, dtype: float64

In [24]:
df

,A,B,C,D
2016-03-01,-0.864896,-1.668247,1.135726,-1.139497
2016-03-02,1.011190,-0.134420,-1.677632,1.185332
2016-03-03,-1.051040,-0.169761,-2.011760,-1.103457
2016-03-04,-0.851890,-1.174442,-2.796977,1.712541
2016-03-05,0.685162,0.791786,-0.447688,-0.911904
2016-03-06,0.369106,1.140169,-0.170676,1.724625

In [25]:
df.sub(s, axis='index')

,A,B,C,D
2016-03-01,NaN,NaN,NaN,NaN
2016-03-02,NaN,NaN,NaN,NaN
2016-03-03,-2.051040,-1.169761,-3.011760,-2.103457
2016-03-04,-3.851890,-4.174442,-5.796977,-1.287459
2016-03-05,-4.314838,-4.208214,-5.447688,-5.911904
2016-03-06,NaN,NaN,NaN,NaN

In [26]:
df.apply(np.cumsum)

,A,B,C,D
2016-03-01,-0.864896,-1.668247,1.135726,-1.139497
2016-03-02,0.146294,-1.802667,-0.541906,0.045834
2016-03-03,-0.904747,-1.972427,-2.553666,-1.057623
2016-03-04,-1.756636,-3.146869,-5.350643,0.654918
2016-03-05,-1.071474,-2.355084,-5.798331,-0.256987
2016-03-06,-0.702368,-1.214915,-5.969008,1.467638

In [27]:
df.apply(lambda x: x.max()-x.min())

A    2.062230
B    2.808416
C    3.932702
D    2.864122
dtype: float64

In [30]:
s = pd.Series(np.random.randint(10, 20, size=20))
s

0     17
1     13
2     19
3     19
4     14
5     12
6     19
7     14
8     15
9     12
10    19
11    16
12    14
13    18
14    18
15    14
16    13
17    12
18    18
19    10
dtype: int32

In [31]:
s.value_counts()

19    4
14    4
18    3
12    3
13    2
17    1
16    1
15    1
10    1
dtype: int64

In [32]:
s.mode

<bound method Series.mode of 0     17
1     13
2     19
3     19
4     14
5     12
6     19
7     14
8     15
9     12
10    19
11    16
12    14
13    18
14    18
15    14
16    13
17    12
18    18
19    10
dtype: int32>

In [34]:
df.iloc[:3]

,A,B,C,D
2016-03-01,-0.864896,-1.668247,1.135726,-1.139497
2016-03-02,1.011190,-0.134420,-1.677632,1.185332
2016-03-03,-1.051040,-0.169761,-2.011760,-1.103457

In [38]:
df.iloc[3:6]

,A,B,C,D
2016-03-04,-0.851890,-1.174442,-2.796977,1.712541
2016-03-05,0.685162,0.791786,-0.447688,-0.911904
2016-03-06,0.369106,1.140169,-0.170676,1.724625

In [40]:
left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})
right = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})

In [41]:
left

,key,lval
0,foo,1
1,foo,2

In [42]:
right

,key,rval
0,foo,4
1,foo,5

In [43]:
pd.merge(left, right, on='key')

,key,lval,rval
0,foo,1,4
1,foo,1,5
2,foo,2,4
3,foo,2,5

In [44]:
df

,A,B,C,D
2016-03-01,-0.864896,-1.668247,1.135726,-1.139497
2016-03-02,1.011190,-0.134420,-1.677632,1.185332
2016-03-03,-1.051040,-0.169761,-2.011760,-1.103457
2016-03-04,-0.851890,-1.174442,-2.796977,1.712541
2016-03-05,0.685162,0.791786,-0.447688,-0.911904
2016-03-06,0.369106,1.140169,-0.170676,1.724625

In [69]:
df2 = pd.DataFrame({'A':['foo', 'bar', 'foo', 'bar', 
                       'foo', 'bar', 'foo', 'bar'], 
                  'B':['one', 'one', 'two', 'two', 
                       'three', 'one', 'two', 'one']
                  'C':  np.random.randn(8),
                  'D':  np.random.randn(8)})